[submodule "themes/mediumish"]
	path = themes/mediumish
	url = https://github.com/lgaida/mediumish-gohugo-theme
[submodule "public"]
	path = public
	url = git@github.com:momchil-anachkov/momchil-anachkov.github.io.git
	branch = master
