[submodule "public"]
	path = public
	url = git@github.com:momchil-anachkov/momchil-anachkov.github.io.git
	branch = master
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/momchil-anachkov/hugo-academic.git
